
<!doctype html>
<html lang="en">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../resources/js/navbar.js"></script>
<link rel="shortcut icon" type="text/css" href="../resources/img/lens_logo.png">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/c7297b5865.js" crossorigin="anonymous"></script>

	<!-- Load my css styles sheet -->
	<link rel="stylesheet" href="../resources/css/styles.css">
	<title>Newby Aerial Photography</title>
</head>
	<body bgcolor="#8EE4AF" onload="navFunction(); navCollapse();">
		<br>
		<div class="menu" id="main_navbar">
			<a href="javascript:void(0);" class="icon dropdown-icon" id="responsive_menu_bars" onclick="navFunction()">
				<i class="menu dropdown-icon fas fa-bars"></i>
			</a>
			<i class="bar"></i>
			<a href="home.html" class="active"><i class="icon menu-icon"> Home</i></a>
			<i class="bar"></i>
			<a href="realty_comm.html" class="non-active"><i class="icon menu-icon fas fa-home"> Real Estate</i></a>
			<i class="bar"></i>
			<a href="events.html" class="non-active"><i class="icon menu-icon main-menu fas fa-industry"> Inspection</i></a>
			<i class="bar"></i>
			<a href="gallery.html" class="non-active"><i class="icon menu-icon fas fa-images"> Gallery</i></a>
			<i class="bar"></i>
			<a href="about_me.html" class="non-active"><i class="icon menu-icon left-pad fas fa-portrait"> About</i></a>
			<i class="bar"></i>
		</div>

			<div class="bg">
				<div class="container">
					<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
						
						<div class="row flex-sm-nowrap">
							<div class="col-md" id="optional">
								<center>
									<img src="../resources/img/lens_logo_blue.svg" style="max-width:80%;height:auto;" alt="NewbyAP logo" id="home_logo" height="200" width="200">
								</center>
							</div>
						</div>

						<div class="row flex-sm-nowrap">
							<div class="col-md">
								<br><br><br>
								<center><h1><font color="#333">Newby Aerial Photography</font></h1></center>
								<center><h4><font color="#333">Aerial photography service for any job!</font></h4></center>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<center>
						<div class="card border-0" style="background: transparent;">
							<div class="card-body">
								<h2 class="card-title"><font>Business Goal</font></h2>
								<br>
								<p class="card-text">Newby Aerial Photography strives to provide high quality aerial photography services to the greater Boulder, area at a competitive price.</p> <br>
								<div>
									<a href="https://www.instagram.com/newbyap/" class="icon-cust fab fa-instagram" target="_blank" style="color: #333"></a>
									<a class="icon-cust fab fa-twitter" style="color: #333"></a>
								</div>
							</div>
						</div>
					</center>
				</div>
				<div class="col-sm">
					<center>
						<div class="card border-0" style="background: transparent;">
							<div class="card-body">
								<h2 class="card-title"><font>About Me</font></h2>
								<br>
								<p class="card-text">My name is Kolin Newby and I'm an undergraduate studying computer science at CU Boulder. I have a passion for exploration and cutting edge technology.</p>
								<br>
								<h5 class="card-text">Put my skills and passion to work for you!</h5>
							</div>
						</div>
					</center><br>
				</div>
			</div><br><br>
		</div>
	</body>
</html>