doctype html
meta(name='viewport' content='width=device-width, initial-scale=1.0')
script(src='../resources/js/navbar.js')
link(rel='shortcut icon' type='text/css' href='../resources/img/N_logo.png')
head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../resources/css/styles.css')
  title Newby Aerial Photography
#myTopnav.topnav
  a(href='home.html') Home
  a.active(href='realty_comm.html') Realty &amp; Commercial
  a(href='events.html') Weddings &amp; Events
  a.icon(href='javascript:void(0);' onclick='navFunction()')
    i.fa.fa-bars
.bg_secondary
  .container
    .jumbotron.jumbotron-fluid(style='background:transparent !important')
      .row.flex-sm-nowrap
        .col-sm
          br
          br
          center
            h1
              font(color='#27FFF5') Realty and Commercial
          center
            h4
              font(color='white') Gain a competitive edge in your industry!
  div
    center
      h1 Coming Soon!
