<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../resources/js/navbar.js"></script>
<link rel="shortcut icon" type="text/css" href="../resources/img/N_logo.png">
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  	<link rel="stylesheet" href="../resources/css/styles.css">
    <title>Newby Aerial Photography</title>
  </head>
  <body onload="navFunction(); navCollapse();">

  	<div class="topnav" id="myTopnav">
		<a href="home.html">Home</a>
		<a href="realty_comm.html" class="active">Realty & Commercial</a>
		<a href="events.html">Weddings & Events</a>
		<a href="gallery.html">Photo Gallery</a>
		<a href="javascript:void(0);" class="icon" onclick="navFunction()">
			<i class="fa fa-bars"></i>
		</a>
	</div>

  	<div class="bg_secondary">
  		<div class="container">
		<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
			<div class="row flex-sm-nowrap">
				<div class="col-sm">
					<br><br>
					<center><h1><font color="#27FFF5">Realty and Commercial</font></h1></center>
					<center><h4><font color="white">Gain a competitive edge in your industry!</font></h4></center>
				</div>
			</div>
		</div>
	</div>
	<div>
		<center><h1>Coming Soon!</h1></center>
	</div>
  </body>
</html>
