
<!doctype html>
<html lang="en">
<link rel="shortcut icon" type="text/css" href="../resources/img/N_logo.png">
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<link rel="stylesheet" href="../resources/css/bg.css">
    <title>Newby Aerial Photography</title>
  </head>
  <body>
  	<div class="bg">
  		<div class="container">
		<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
			<div class="row flex-sm-nowrap">
				<div class="col-4">
					<center>
						<img src="../resources/img/N_logo.png" alt="N logo" height="250" width="250">
					</center>
				</div>
				<div class="col-7">
					<br>
					<center><h1><font color="#0ed145">Newby Aerial Photography</font></h1></center>
					<center><h4><font color="white">Aerial Photography Services for </font><font color="#0ed145">ANY</font><font color="white"> Job</font></h4></center>
					<br>
					<center><h3><font color="#0ed145">See your world from an elevated perspective!</font></h3></center>
				</div>
			</div>
		</div>
	</div>
  	</div>
<!--   	<div style="background-image: url('../resources/img/bg2.jpg');"> -->
	<!-- <div class="container">
		<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
			<div class="row flex-sm-nowrap">
				<div class="col-4">
					<center>
						<img src="../resources/img/N_logo.png" alt="N logo" height="250" width="250">
					</center>
				</div>
				<div class="col-7">
					<br>
					<center><h1><font color="#0ed145">Newby Aerial Photography</font></h1></center>
					<center><h4><font color="white">Aerial Photography Services for </font><font color="#0ed145">ANY</font><font color="white"> Job</font></h4></center>
					<br>
					<center><h3><font color="#0ed145">See your world from an elevated perspective!</font></h3></center>
				</div>
			</div>
		</div>
	</div> -->
	<div class="container">
		<div class="row">
			<div class="col-5">
				<center>
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="../resources/img/kolin.jpg" alt="Photo of Kolin Newby">
						<div class="card-body">
							<h5 class="card-title">Operator</h5>
							<p class="card-text">Kolin Newby</p>
							<p class="card-text">I am an undergraduate student studying computer science at CU Boulder.</p>
							<a href="#" class="btn btn-primary">Learn more about me!</a>
						</div>
					</div>
				</center>
			</div>
			<div class="col-6">
				<div class="card">
					<center><h2>The Hardware</h2></center>
					<button>All Specs</button>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
